################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UmasankarTestC#/CopilotIndices/17.13.439.2385/CodeChunks.db
